@import "../../main.scss";

// @import "slick-carousel/slick/slick.css";
// @import "slick-carousel/slick/slick-theme.css";

$sm_top_margin: 96px;
$md_top_margin: 130px;

.home {
  padding-top: $sm_top_margin;
  height: 1000px;
  z-index: -100;
}

@include responsive(T) {
  body {
    .home {
      padding-top: $md_top_margin;
    }
  }
}
