%tag-base {
  @include flex-inline;
  @include text-style(12);
  padding: 0 6px;
  height: 20px;
  border-radius: 4px;
  font-weight: 700;
}

.tag_red {
  @extend %tag-base;
  color: $white;
  background-color: $red;
}

.tag_gray {
  @extend %tag-base;
  color: $secondary;
  background-color: $border;
}

.tag_green {
  @extend %tag-base;
  color: $white;
  background-color: $green;
}
