@import "../../main.scss";

// a {
//   display: flex;
//   justify-content: space-between;
//   justify-content: space-evenly;
//   justify-content: flex-end;
//   justify-content: flex-start;
// }

.icon {
  @include flex-inline;
  width: 32px;
  height: 32px;
}

header {
  position: fixed;
  width: 100%;
  border-bottom: 1px soild $border;

  .gnb {
    @include flex(space-between);
    height: 50px;

    .logo {
      order: 1;
      a {
        display: block;
        width: 70px;
        height: 20px;
        img {
          display: block;
          width: 100%;
        }
      }
    }

    .menuBtn {
      order: 0;
    }

    .gnb_icon_group {
      order: 2;

      .search_group {
        position: relative;

        .search_icon {
          @include pos-center-y;
          left: 10px;
        }

        .search_input {
          padding-left: 40px;
          width: 220px;
          height: 40px;
          border: 1px solid $tertiary;
          border-radius: 4px;

          &::placeholder {
            @include text-style(16, $tertiary);
          }

          &:hover {
            background-color: $background;
          }
        }
      }

      .profile {
        width: 32px;
        height: 32px;

        img {
          display: block;
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
