@import "../../main.scss";

.icon {
  @include flex-inline;
  width: 32px;
  height: 32px;
}

header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 100;

  .header_top {
    border-bottom: 1px solid $border;
    .header_content {
      @include flex(space-between);
      height: 50px;

      .logo {
        order: 1;
        a {
          display: block;
          width: 70px;
          height: 20px;
          img {
            display: block;
            width: 100%;
          }
        }
      }

      .menuBtn {
        order: 0;
      }

      .header_content_icon_group {
        order: 2;

        .search_group {
          position: relative;

          .search_icon {
            @include pos-center-y;
            left: 10px;
          }

          .search_input {
            padding-left: 40px;
            width: 220px;
            height: 40px;
            border: 1px solid $tertiary;
            border-radius: 4px;

            &::placeholder {
              @include text-style(16, $tertiary);
            }

            &:hover {
              background-color: $background;
            }
          }
        }

        .searchBtn {
          margin-right: 5px;
        }

        .profile {
          width: 32px;
          height: 32px;

          img {
            display: block;
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }

  .gnb {
    border-bottom: 1px solid $border;
    nav {
      @include flex;
    }

    .gnb_list {
      // @include pos-center-y;
      @include flex(flex-start);
      font-weight: 700;

      white-space: nowrap;
      overflow: hidden;
      overflow-x: scroll;
      &::-webkit-scrollbar {
        height: 4px;
      }
      &::-webkit-scrollbar-track {
        background-color: $white;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #eee;
      }

      .gnb_item {
        @include text-style(13, $dark);
        // display: block;
        margin: 0 8px;
        padding: 12px 0 10px;
        height: 40px;
        transition: color 0.1s ease-in-out;
        &:hover {
          color: $blue;
        }
      }
    }
  }
}

@include responsive(T) {
  header {
    .header_top {
      .header_content {
        height: 80px;

        .header_content_icon_group {
          @include flex;

          .search_group {
            margin-right: 24px;
          }
          .cartBtn {
            margin-right: 5px;

            &:hover {
              border-radius: 50%;
              background-color: $blue;
            }
          }
          .header_user_list {
            @include flex;
            color: $primary;

            .header_user_item_login {
              position: relative;
              margin-right: 15px;
              transition: color 0.1s ease-in-out;

              &::after {
                @include pos-center-y;
                right: -8px;
                display: block;
                content: "";
                width: 1px;
                height: 16px;
                background-color: black;
              }
              &:hover {
                color: $blue;
              }
            }

            .header_user_item_join {
              transition: color 0.1s ease-in-out;

              &:hover {
                color: $blue;
              }
            }
          }
        }
      }
    }

    .gnb {
      nav {
        @include flex(flex-start);
        height: auto;

        .menuBtn {
          margin-right: 8px;
        }

        .gnb_list {
          &::-webkit-scrollbar {
            height: 0;
          }

          .gnb_item {
            @include text-style(14, $dark);
            margin: 0 10px;
            padding: 14px 0;
            height: 50px;
          }
        }
      }

      .lnb_list {
        @include flex(flex-start);
        @include text-style(14, $primary);
        padding: 10px 40px;
        height: 50px;

        .lnb_item {
          margin-right: 20px;
          transition: color 0.1s ease-in-out;
          &:hover {
            color: $blue;
          }
        }
      }
    }
  }
}

@include responsive(D) {
}
