@import "../../main.scss";

.carousel {
  height: auto;
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.slick_dots {
  @include flex;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

.slick_dots li {
  position: relative;
  display: inline-block;
  // width: 20px;
  // height: 20px;
  // /*margin: 1px;*/
  // padding: 0;
  // cursor: pointer;
}

.slick_dots li button {
  // font-size: 0;
  // line-height: 0;
  display: block;
  width: 10px;
  height: 10px;
  padding: 10px;
  cursor: pointer;
  color: transparent;
  // border: 0;
  // outline: 0;
  // background: 0 0;
}

.slick_dots li button:before {
  font-size: 2rem;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  text-align: center;
  opacity: 0.75;
  color: #6d6968;
}

.slick_dots :global(li.slick-active) button:before {
  opacity: 0.75;
  color: #ffffff;
}
