/* Mobile / sm (< 768px) */
/* Tablet / md (>= 768px) */
/* Desktop / lg (>= 1200px) */

$gutter: 20px;

$sm-columns: 4;
$sm-margin: 5px;

$md-columns: 12;
$md-margin: 30px;
$md-max-container: 960px + $md-margin * 2;

$lg-columns: 12;
$lg-unit: 75px;
$lg-max-container: ($lg-unit + $gutter) * $lg-columns;

.container {
  margin: 0 auto;
  padding: 0 $sm-margin;
  width: 100%;

  .row {
    display: flex;
    flex-wrap: wrap;
  }

  @for $i from 1 through $sm-columns {
    .col_sm_#{$i} {
      padding: 0 $gutter/2;
      width: percentage($i / $sm-columns);
    }
  }

  @include responsive(T) {
    max-width: $md-max-container;
    padding: 0 $md-margin;

    @for $i from 1 through $md-columns {
      .col_md_#{$i} {
        padding: 0 $gutter/2;
        width: percentage($i / $md-columns);
      }
    }
  }

  @include responsive(D) {
    max-width: $lg-max-container;
    padding: 0;

    @for $i from 1 through $lg-columns {
      .col_lg_#{$i} {
        padding: 0 $gutter/2;
        width: ($lg-unit + $gutter) * $i;
      }
    }
  }
}
