@mixin flex($jc: center, $ai: center) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}

@mixin flex-column($jc: center, $ai: center) {
  display: flex;
  flex-direction: column;
  justify-content: $jc;
  align-items: $ai;
}
